{{define "new"}}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novo produto</title>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/imgs/transferir.jpeg"
            alt="logo alura"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Loja Alura
        </a>
      </div>
    </nav>

    <!-- Formulário -->
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-5">Novo produto</h1>
          <p class="lead">Insira os detalhes</p>
        </div>
      </div>
      <form method="POST" action="insert">
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" name="nome" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="descricao">Descrição:</label>
              <input type="text" name="descricao" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="preco">Preço:</label>
              <input
                type="number"
                name="preco"
                class="form-control"
                step="0.01"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="quantidade">Quantidade:</label>
              <input type="number" name="quantidade" class="form-control" />
            </div>
          </div>
        </div>
        <button type="submit" value="salvar" class="btn btn-success">
          Salvar
        </button>
        <a class="btn btn-info" href="/">Voltar</a>
      </form>
    </div>
  </body>
</html>
{{end}}
